<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="WSOL" value="http://nuget.wsol.com/api/odata" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
		<add key="EPiServer" value="http://nuget.episerver.com/feed/packages.svc/" />
		<add key="EPiServer Addons" value="https://nugetaddons.episerver.com/feed/addons.svc/" />
		<add key="ImageResizer (DRM-FREE)" value="https://www.myget.org/F/imageresizer-agpl-or-elite-license/" />
		<add key="ImageResizer (DRM-FREE) Nightlies" value="https://www.myget.org/F/imazen-nightlies/" />
	</packageSources>
	<disabledPackageSources />
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>